* text=auto eol=lf

*.go text
*.ts text
*.tsx text
*.js text
*.json text
*.yaml text
*.yml text
*.md text
*.css text
*.html text
*.sh text eol=lf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.ico binary
*.woff2 binary
